*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // Defines what 1rem is 
    font-size: 62.5%; // 1 rem = 10px ===> 10px/16px = 62.5%

    @include mediaquerie('phablet') {
        font-size: 75%; //12px   
    }

    @include mediaquerie('tablet') {
        font-size: 81.25%; //13px    
    }

    @include mediaquerie('tablet-wide') {
        font-size: 87.5%; //14px    
    }

    @include mediaquerie('desktop-wide') {
        font-size: 100%; //16px    
    }
}

body {
    box-sizing: border-box;
}

a {
    display: inline-block;
}