*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // Defines what 1rem is 
    font-size: 62.5%; // 1 rem = 10px ===> 10px/16px = 62.5%
}

body {
    box-sizing: border-box;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($black, .8);
    z-index: 1000;
    display: none;

    &__content {
        position: fixed;
        height: 90vh;
        width: 90%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $white;
    }

    &-show {
        display: block;
    }

    &-open {
        overflow: hidden;
    }
}