body {
    font-family: 'Dosis', sans-serif;
    font-weight: 300;
    line-height: 1.5;
    color: $dark;
}

.heading-primary {
    text-align: center;
    font-size: 4.5rem;
    font-weight: 500;
    color: $dark-brown;
    position: relative;

    @include mediaquerie('tablet'){
        text-align: left;
        margin-left: 4rem;
        font-size: 5rem;
    }

    &::before {
        content: attr(data-section-title);
        color: rgba($light-grey, $alpha: .25);
        font-size: 6.1rem;
        display: block;
        position: absolute;
        top: -4rem;
        left: 0;
        right: 0;
        z-index: -1;

        @include mediaquerie('tablet'){
            font-size: 8rem !important;
            top: -5.5rem !important;
            left: -3.5rem;
        }
    }

    &--small::before {
        font-size: 4.8rem;
        top: -40%;
    }
}

.heading-secondary {
    font-size: 2.3rem;
    font-weight: 700;
    color: $dark-brown;
}

.heading-tertiary {
    font-size: 2.6rem;
    color: $light-brown;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 1.5rem;
    border-bottom: solid 1px $light-brown;
    margin-top: 4rem;
    font-weight: 700;
}

.sub-heading {
    font-size: 1.5rem;
    font-weight: 500;
    color: $light-brown;
}

.heading-postais {
    font-size: 1.8rem;
    margin-bottom: 2.4rem;
    color: $dark-brown;
}

.paragraph {
    font-size: 1.3rem;
    text-align: justify;

    &:not(:last-child) {
        margin-bottom: 2.4rem;
    }

    &__strong {
        font-weight: 700;
    }
}

.extraInfo-small {
    font-weight: 300;
}

.p-bold {
    font-weight: 700;
}

.p-medium {
    font-weight: 500;
}
