.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    padding: 0 2rem;
    text-decoration: none;
    font-size: 1.3rem;

    @include mediaquerie('tablet'){
        font-size: 1.4rem;
        height: 3.5rem;
    }

    &-primary {
        border: solid 1px $dark-brown;
        color: $dark-brown;
    }

    &-secondary {
        background-color: $dark-brown;
        color: $white;

        &--grey {
            background-color: $light-grey;
            color: $dark-brown;
            box-shadow: 0 .4rem 2rem rgba($black, $alpha: .8)
        }
    }

    &-postais {
        border: solid 1px $white;
        color: inherit;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    &-modal-postais {
        background-color: $dark-brown;
        color: $white;
    }
}

.btn-box {
    display: flex;
    margin-top: 3rem;
}