.educacao {

    &__nav {
        width: 95%;
        margin: 0 auto;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;

        @include mediaquerie('tablet-small') {
            flex-wrap: nowrap;
            justify-content: space-between;
        }
    }

    &__item {
        list-style: none;
        flex-basis: 40%;
        text-align: center;

        @include mediaquerie('tablet-small') {
            flex-basis: auto;
        }

        &:last-child {
            flex-basis: 100%;
            margin-top: 1rem;

            @include mediaquerie('tablet-small') {
                margin-top: 0;
                flex-basis: auto;
            }
        }
    }

    &__link {
        display: inline-block;
        text-decoration: none;
        color: $dark-brown;
        font-size: 2.3rem;
        font-weight: 500;
        transition: all .2s;

        &:hover {
            color: $light-brown;
            transform: scale(1.1);
            transform-origin: center bottom;
        }
    }

    &__projecto-pedagogico {
        margin-top: 5rem;
        margin-bottom: 3rem;
    }

    &__pp-header {
        font-size: 2.5rem;
        font-weight: 700;
        color: $dark-brown;
    }

    &__pp-titulo {
        font-size: 1.7rem;
    }

    // ACTIVIDADES
    &__actividades {
        display: flex;
        flex-direction: column;

        &-card {
            display: flex;
            justify-content: space-between;
            width: 100%;
            background-color: $white;
            box-shadow: 0 .2rem .8rem rgba($dark, .2);

            &:not(:last-child) {
                margin-bottom: 2rem;
            }
        }

        &-image-placeholder {
            width: 30%;
            min-height: 15rem;
            overflow: hidden;
            position: relative;
        }

        &-image {
            display: block;
            height: 100%;
            position: absolute;
            top: 0;
        }

        &-content {
            width: 70%;
            padding: 1rem 1.2rem 1rem 1.6rem;
            display: flex;
            flex-direction: column;
        }

        &-title {
            font-weight: 700;
            font-size: 1.5rem;
            margin-bottom: .5rem;
        }

        &-description {
            margin-bottom: auto;
            font-size: 1.05rem;
        }
    }
}

// MENU ESCOLAS
.escolas-navigation {
    width: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    bottom: 0;
    background-color: $light-grey;
    z-index: 200;
    transition: left .3s ease-out;

    &-show {
        left: 0;
    }

    &__nav {
        width: 70%;
        margin: 4rem auto 0 auto;

        @include mqlandscape('phablet'){
            margin: 2rem auto 0 auto;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 50vh;

        @include mqlandscape('tablet-wide', max){
            width: 100%;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-around;
            margin: 0 auto;
        }
    }

    &__item {
        list-style: none;

        @include mqlandscape('phone-wide') {
            flex-basis: 50%;
        }
        
        &:not(:last-child) {
            margin-bottom: 6vh;

            @include mqlandscape('phone-wide') {
                margin-bottom: 10vh;
            }
        }
    }

    &__link {
        display: block;
        text-decoration: none;
        color: $dark-brown;
        font-weight: 700;
        font-size: 2rem;
        text-align: center;

        &--small {
            display: block;
            font-size: 1.5rem;
            font-weight: 300;
        }
    }
}