.galeria {
    width: 100%;
    height: auto;
    position: relative;

    &__image {
        display: block;
        width: 100%;
        cursor: pointer;
    }

    &__finger-swipe {
        width: 3rem;
        position: absolute;
        bottom: 1rem;
        left: 50%;
        z-index: 100;
        animation-iteration-count: infinite;
        animation-duration: 1.5s;
        animation-name: fingerswipe;
    }

    &__modal-controls {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 5rem;

        &__back,
        &__next {
            display: block;
            width: 2rem;
            height: auto;
            cursor: pointer;
        }
    }
}