.header {
    width: 100%;
    height: 100vh;
    background-image: url(../images/mobileBG.jpg);
    background-size: cover;
    background-position: center bottom;
    position: relative;

    @include mqlandscape('phablet') {
        background-image: url(../images/DSC_5433.jpg);
        background-position: right bottom;
        background-size: cover;
    }

    @include mediaquerie('tablet') {
        background-image: url(../images/DSC_5433.jpg);
        background-position: 70% 100%;
        background-size: cover;
    } 

    &__btn-box {
        display: none !important;
        position: absolute;
        bottom: 8vh;
        left: 2.5rem;

        @include mediaquerie('tablet') {
            display: flex !important;
        }
    }
}

.logo {
    width: 18rem;
    height: auto;
    padding-top: 2rem;
    padding-left: 2rem;

    @include mediaquerie('tablet') {
        width: 20rem;
        padding-top: 3rem;
        padding-left: 3rem;
    }

    &--menu {
        width: 35%;

        @include mqlandscape('phone-wide') {
            width: 20%;
        }

        @include mediaquerie('tablet') {
            width: 16rem;
        }
    }
}

.scroll-icon,
.scroll-icon::before {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.scroll-icon {
    width: 2.5rem;
    height: 4.5rem;
    bottom: 8vh;
    margin-top: -35px;
    box-shadow: inset 0 0 0 1px $white;
    border-radius: 25px;

    @include mqlandscape('phablet') {
        width: 2rem;
        height: 3.5rem;
    }

    @include mediaquerie('tablet') {
        display: none;
    }

    &::before {
        content: '';
        width: .6rem;
        height: .6rem;
        background: $white;
        top: .7rem;
        left: 50%;
        border-radius: 50%;
        animation-duration: 1.2s;
        animation-iteration-count: infinite;
        animation-name: scroll;

        @include mqlandscape('phablet') {
            width: .3rem;
            height: .3rem;
            animation-name: scrollphablet;
        }
    }
}