.header {
    width: 100%;
    height: 100vh;
    background-image: url(../images/mobileBG.jpg);
    background-size: cover;
    background-position: center bottom;
    position: relative;

    @include mediaquerie('tablet-small') {
        background-position: center 90%;
    }

    @include mqlandscape('phablet') {
        background-image: url(../images/DSC_5433.jpg);
        background-position: right bottom;
        background-size: cover;
    }

    @include mediaquerie('tablet') {
        background-image: url(../images/DSC_5433.jpg);
        background-position: 70% 100%;
        background-size: cover;
    }

    &__text-box {
        position: absolute;
        bottom: 13rem;
        left: 2.5rem;
        width: 33rem;
        display: none;

        @include mediaquerie('tablet-wide'){
            display: block;
        }

        @include mediaquerie('desktop'){
            width: 33.5rem;
        }

        @include mediaquerie('desktop-wide') {
            left: 4rem;
        }
    }

    &__missao {
        margin-bottom: 3rem;

        @include mediaquerie('desktop-wide'){
            margin-bottom: 2rem;
        }
    }

    &__btn-box {
        display: none !important;
        position: absolute;
        bottom: 8vh;
        left: 2.5rem;

        @include mediaquerie('tablet') {
            display: flex !important;
        }
        
        @include mediaquerie('desktop-wide') {
            left: 4rem;
        }
    }
}

.logo {
    width: 18rem;
    height: auto;
    padding-top: 2rem;
    padding-left: 2rem;

    @include mediaquerie('tablet-small') {
        width: 22rem;
        padding-top: 3rem;
        padding-left: 4rem;
    }

    @include mqlandscape('tablet', max) {
        width: 18rem;
        padding-top: 2rem;
        padding-left: 3rem;
    }

    @include mediaquerie('tablet') {
        width: 20rem;
        padding-top: 3rem;
        padding-left: 3rem;
    }

    @include mediaquerie('desktop-wide') {
        padding-left: 4rem;
    }

    &--menu {
        width: 35%;

        @include mqlandscape('tablet', max) {
            width: 13rem;
            padding-left: 2rem;
            padding-top: 1.5rem;
        }

        @include mediaquerie('tablet') {
            width: 16rem;
        }
    }
}

.scroll-icon,
.scroll-icon::before {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.scroll-icon {
    width: 2.5rem;
    height: 4.5rem;
    bottom: 11vh;
    margin-top: -35px;
    box-shadow: inset 0 0 0 1px $white;
    border-radius: 25px;
    background-color: rgba($white, .5);

    @include mqlandscape('phablet') {
        width: 2rem;
        height: 3.5rem;
    }

    @include mediaquerie('tablet') {
        display: none;
    }

    &::before {
        content: '';
        width: .6rem;
        height: .6rem;
        background: $dark-brown;
        top: .7rem;
        left: 50%;
        border-radius: 50%;
        animation-duration: 1.2s;
        animation-iteration-count: infinite;
        animation-name: scroll;

        @include mqlandscape('phablet') {
            width: .3rem;
            height: .3rem;
            animation-name: scrollphablet;
        }
    }
}