.icon {
    background-repeat: no-repeat;
    display: inline-block;
    width: 1.6rem;
    height: 1.7rem;

    @include mediaquerie('tablet'){
        width: 2.2rem;
        height: 2rem;
    }

    &--video-camera {
        background-image: url(../images/icons/video-camera.svg);
        
        &--grey {
            background-image: url(../images/icons/video-camera-grey.svg);
        }
    }

    &--pdf {
        background-image: url(../images/icons/pdf.svg);
    }

    &--close {
        background-image: url(../images/icons/close.svg);
        cursor: pointer;
        transform: rotate(0);
        transition: all .3s;

        &:hover {
            transform: rotate(180deg);
        }
    }
}