.icon {
    // Ratio 1.62
    background-repeat: no-repeat;
    display: inline-block;
    width: 1.62rem;
    height: 1rem;

    /*@include mediaquerie('tablet'){
        width: 2rem;
        height: 1rem;
    }*/

    &--video-camera {
        background-image: url(../images/icons/video-camera.svg);
        
        &--brown {
            background-image: url(../images/icons/video-camera-brown.svg);

            @include mediaquerie('tablet'){
                margin-left: 1.2rem;
            }
        }
    }

    &--pdf {
        background-image: url(../images/icons/pdf.svg);
    }

    &--close {
        background-image: url(../images/icons/close.svg);
        cursor: pointer;
        transform: rotate(0);
        transition: all .3s;

        &:hover {
            transform: rotate(180deg);
        }
    }
}