.megalitismo {
    position: relative;
    overflow: hidden;

    &__content {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: flex-start;
    }

    &__text-content {
        width: 100%;

        @include mediaquerie("desktop"){
            width: 45vw;
            margin-left: 6.5vw;
        }

        @include mediaquerie("desktop-wide"){
            width: 40vw;
            margin-left: 11vw;
        }
    }

    &__image-content {
        width: 36vw;
        position: relative;
        margin-top: 8rem;

        @include mediaquerie("desktop", max) {
            display: none;
        }
    }

    &__image {
        width: 100%;
        display: block;
        box-shadow: 15px 15px 0 0 rgba($black, .1);
        position: relative;
        z-index: 5;
        transform: scale(1);
        transition: all .3s;

        &:first-child {
            animation-duration: 1.2s;
            animation-name: imageToFrontOut;
            animation-timing-function: ease-in-out;

            &:hover {
                animation-duration: 1.2s;
                animation-fill-mode: forwards;
                animation-name: imageToFrontIn;
                animation-timing-function: ease-in-out;
            }
        }

        &--small {
            width: 20vw;
            transform: scale(1);
            transition: all .3s;

            &:hover {
                transform: scale(1.1);
                box-shadow: 10px 10px 2px 0 rgba($black, .1);
            }
        }

        &--overlap {
            position: absolute;
            bottom: -65%;
            right: 10%;
            z-index: 10;
        }
    }

    &__complete-content {
        height: 0;
        overflow: hidden;
        transition: height .3s;
    }
}

.triangle {
    background-color: rgba($light-grey, .4);
    position: absolute;
    top: -90%;
    left: 135%;
    width: 253rem;
    height: 253rem;
    transform: rotate(45deg);
    z-index: -1;

    display: none;

    @include mediaquerie('tablet-wide') {
        top: -110%;
        left: 80%;
    }
}