.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($black, .8);
    z-index: 1000;
    display: none;

    &__wrapper {
        position: absolute;
        width: 90%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $white;
        z-index: 1010;
    }

    &__header,
    &__footer {
        height: 5rem;
    }

    &__content {
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
        max-height: 70vh;
        padding-left: 1.2rem;
        padding-right: 1.2rem;
    }

    &-show {
        display: block;
    }

    &-open {
        overflow: hidden;
    }
}