.museu {
    position: relative;
    overflow: hidden;

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__text-content {
        width: 100%;

        @include mediaquerie('desktop') {
            width: 46vw;
        }

        /*@include mediaquerie('desktop-wide') {
            width: 42.5rem;
            min-width: 40rem;
            max-width: 45rem;
        }*/
    }

    &__image-content {
        width: 29vw;
        margin-top: 8rem;

        @include mediaquerie('desktop', max) {
            display: none;
        }

        /*@include mediaquerie('desktop-wide') {
            min-width: 30rem;
            max-width: 35rem;
        }*/
    }

    &__image {
        width: 100%;
        display: block;
        box-shadow: -15px 15px 0 0 rgba($black, .2);

        
    }

    &__complete-content {
        height: 0;
        overflow: hidden;
        transition: height .3s;
    }

    &__triangle {
        display: none;

        @include mediaquerie('desktop') {
            display: block;
            width: 1920px;
            height: 1920px;
            position: absolute;
            z-index: -1;
            transform: rotate(45deg);
        }

        &--grey {
            background-color: rgba($light-grey, .3);
            top: -50%;
            right: 60%;

            @include mediaquerie('desktop-wide') {
                top: -38%;
                right: 55%;
            }

            @include mediaquerie('desktop-ultra') {
                top: -35%;
            }

            @media only screen and (min-width: 1730px) {
                top: -28%;
                right: 50%;
            }
        }

        &--brown {
            background-color: rgba($light-brown, .3);
            top: 12%;
            left: 90%;
        }
    }
}