.navigation {
    position: relative;

    &__checkbox {
        display: none;
    }

    // NAVIGATION BUTTON
    &__button {
        width: 4rem;
        height: 4rem;
        background-color: $light-grey;
        position: fixed;
        top: 3rem;
        right: 2.5rem;
        text-align: center;
        border-radius: 50%;
        box-shadow: 0 0 2rem rgba($dark-brown, .5);
        z-index: 100;
        cursor: pointer;

        @include mediaquerie('tablet') {
            background-color: $light-brown;
            width: 6rem;
            height: 6rem;
            top: -10rem;
        }
    }

    &__icon {
        position: relative;
        top: 50%;
        transform: translateY(-50%);

        &,
        &::before,
        &::after {
            width: 1.6rem;
            height: 2px;
            background-color: $dark-brown;
            display: inline-block;

            @include mediaquerie('tablet') {
                background-color: $light-grey;
                width: 2.6rem;
                height: 4px;
            }
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            transition: all .2s;
        }

        &::before { 
            top: -.6rem; 

            @include mediaquerie('tablet') {
                top: -.9rem;
            }
        }

        &::after { 
            top: .6rem;
            width: 1rem;

            @include mediaquerie('tablet') {
                top: .9rem;
                width: 1.8rem;
            }
        }
    }

    &__checkbox:checked + &__button &__icon {
        background-color: transparent;
    }

    &__checkbox:checked + &__button &__icon::before {
        top: 0;
        transform: rotate(135deg);
    }

    &__checkbox:checked + &__button &__icon::after {
        top: 0;
        width: 1.6rem;
        transform: rotate(-135deg);

        @include mediaquerie('tablet') {
            width: 2.6rem;
        }
    }

    // NAVIGATION MENU
    &__nav {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: $light-grey;
        z-index: 50;
        top: -100vh;
        transition: all .3s;

        @include mediaquerie('tablet') {
            position: absolute;
            right: 2rem;
            top: 0;
            background-color: transparent;
            width: auto;
        }
    }

    &__list {
        text-align: center;
        font-size: 2.6rem;
        line-height: 2;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        list-style: none;
        
        @include mqlandscape('phone-wide') {
            width: 60%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            top: 60%;
            left: 40%;
        }

        @include mediaquerie('tablet') {
            text-align: right;
            top: 5vh;
            left: auto;
            right: 1rem;
            transform: none;
            font-size: 3rem;
            line-height: 2.2;
        }
    }

    &__item {
        @include mqlandscape('phone-wide') {
            flex-basis: 50%;
        }
    }

    &__link {
        &:link,
        &:visited {
            display: block;
            text-decoration: none;
            color: $dark-brown;
            cursor: pointer;

            @include mediaquerie('tablet') {
                color: $white;
                font-weight: 300;
            }
        }
    }

    &__social {
        position: absolute;
        text-align: center;
        left: 50%;
        bottom: 3%;
        transform: translateX(-50%);

        @include mqlandscape('phone-wide') {
            right: 1.5rem;
            left: auto;
        }

        @include mediaquerie('tablet') {
            display: none;
        }


        &-facebook {
            width: 3rem;
            height: 3rem;
        }
    }

    &__checkbox:checked ~ &__nav {
        top: 0;
    }
}