.postais {

    &__figure {
        display: block;
        width: 100%;
        position: relative;

        @include mqlandscape('phablet'){
            height: 28.5rem;
            overflow: hidden;
        }

        @include mediaquerie('tablet-wide') {
            height: 42rem;
        }

        &-image {
            display: block;
            width: 100%;

            @include mqlandscape('phablet'){
                position: absolute;
                bottom: -1rem;
            }
        }

        &-title {
            background-color: rgba($black, .2);
            color: $white;
            font-size: 1.5rem;
            line-height: 2;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            display: none;

            @include mediaquerie('tablet-wide') {
                font-size: 2.5rem;
            }

            &--show {
                display: block;
            }
        }
    }

    &__info {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba($black, .7);
        display: none;
        color: $white;

        &--show {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    &__heading {
        font-weight: 700;
        font-size: 2.2rem;

        @include mediaquerie('tablet'){
            font-size: 3.2rem;
            letter-spacing: 1px;
        }

        @include mediaquerie('tablet-wide') {
            font-size: 4rem;
        }
    }

    &__tag {
        font-weight: 300;
        font-size: 1.5rem;

        @include mediaquerie('tablet'){
            font-size: 2.5rem;
        }
    }
}