.swiper {

    &__container {
        width: 100%;
        height: auto;
    }

    &-slide {
        text-align: center;
        background: #fff;
        /* Center slide text vertically */
        display: flex;
        justify-content: center;
        align-items: center;
    }
}