.wrapper {
    padding: 5rem 1rem;
    max-width: 1970px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;

    @include mqlandscape('phablet'){
        padding: 5rem 2.2rem;
    }

    @include mediaquerie('tablet-small'){
        padding: 5rem 3rem;
    }

    @include mediaquerie('tablet-wide') {
        padding: 5rem 7rem;
    }
}